body {
  background-color: #734921;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
}

header {
  text-align: center;
}

main {
  margin: 0 auto;
  text-align: center;
  width: 85%;
}

.new-game {
  font-size: 3rem;
  margin: 2rem;
}
